{% extends "base.html" %}
{% block title %}Logfiles{% endblock %}
{% block body %}
<p>
	List of pcap files that have been uploaded. Go <a href="/">here</a> to upload a new pcap.
</p>
<p>
	<table>
		<tr>
			<td>
				<b>Filename</b>
			</td>
			<td>
				<b>Status</b>
			</td>
			<td>
				<b>Hash</b>
			</td>
			<td>
				<b>Uploaded</b>
			</td>
		</tr>
		{% for file in files %}
		<tr>
			<td>
				<a href="/output/{{ file[4] }}">{{ file[0] }}</a>
			</td>
			<td>
				{% if file[2] == 1 %}
				Analysis complete
				{% elif file[2] == -1 %}
				<span style="color:red;">Failed</span>
				{% else %}
				<span style="color:green;">In progress...</span>
				{% endif %}
			</td>
			<td>
				{{ file[4] }}
			</td>
			<td>
				{{ file[5] }}
			</td>
		</tr>
		{% endfor %}
	</table>
</p>
<p>
	{% if page > 1 %}
	<a href='/output?page={{ page-1 }}'>Previous page</a>
	{% endif %}
	<a href='/output?page={{ page+1 }}'>Next page</a>
</p>
{% endblock %}
