{% extends "base.html" %}
{% block title %}Logfiles{% endblock %}
{% block body %}
<p>
	List of pcap files that have been processed.
</p>
<p>
	<table>
		<tr>
			<td>
				<b>Filename</b>
			</td>
			<td>
				<b>IDS Chosen</b>
			</td>
			<td>
				<b>Engine Chosen</b>
			</td>
			<td>
				<b>Status</b>
			</td>
			<td>
				<b>Hash</b>
			</td>
			<td>
				<b>Uploaded</b>
			</td>
		</tr>
		{% for file in files %}
		<tr>
			<td>
				<a href="/output/{{ file.pcap.md5 }}/{{ file.runid }}">{{ file.pcap.filename }}</a>
			</td>
			<td>
				{{ file.ids }}
			</td>
			<td>
				{{ file.engine }}
			</td>
			<td>
				{% if file.status == 1 %}
				Analysis complete
				{% elif file.status == -1 %}
				<span style="color:red;">Failed</span>
				{% else %}
				<span style="color:green;">In progress...</span>
				{% endif %}
			</td>
			<td>
				<a href="/output/{{ file.pcap.md5 }}">{{ file.pcap.md5 }}</a>
			</td>
			<td>
				{{ file.run }}
			</td>
		</tr>
		{% endfor %}
	</table>
</p>
<p>
	{% if page > 1 %}
	<a href='/output?page={{ page-1 }}'>Previous page</a>
	{% endif %}
	{% if nextpage %}
	<a href='/output?page={{ page+1 }}'>Next page</a>
	{% endif %}
</p>
{% endblock %}
